
* {
  box-sizing: border-box;
}

.hide {
  display: none;
}

.show {
  display: block;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, a {
  display: block;
}

/* remember to define focus styles! */
*:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr, del {
  display: none;
}

abbr {
  cursor: help;
}

a {
  text-decoration: none;
}

/*
**	>> CAROUSEL
*/
.carousel {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}
.carousel .logo {
  position: absolute;
  right: 8%;
  bottom: 10%;
}
@media screen and (max-width: 1023px) {
  .carousel .logo {
    width: 60px;
  }
}
.carousel .bullets {
  width: auto;
  height: 16px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.carousel .bullets .bullet {
  width: 12px;
  height: 12px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background-color: #fff;
  display: inline-block;
  margin: 0 2px 0 2px;
}
.carousel .bullets .bullet.selected {
  background-color: #ed1650;
}
@media screen and (max-width: 767px) {
  .carousel .bullets {
    bottom: 5px;
  }
  .carousel .bullets .bullet {
    width: 6px;
    height: 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }
}
.carousel .arrows {
  width: 90%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 5;
}
@media screen and (max-width: 1023px) {
  .carousel .arrows {
    display: none;
  }
}
.carousel .arrows .bt-controls, .carousel .arrows .left, .carousel .arrows .right {
  display: inline-block;
  width: 20px;
  height: 40px;
  background-image: url(../img/icon-left-right.png);
  background-repeat: no-repeat;
  cursor: pointer;
}
.carousel .arrows .bt-controls:hover, .carousel .arrows .left:hover, .carousel .arrows .right:hover {
  -webkit-transition: all 0.3s false;
  -moz-transition: all 0.3s false false;
  -o-transition: all 0.3s false false;
  transition: all 0.3s;
  opacity: 0.8;
}
.carousel .arrows .left {
  background-position: 0 0;
  opacity: 0.2;
}
.carousel .arrows .right {
  background-position: -22px 0;
  position: absolute;
  right: 0;
}
.carousel .carousel-container {
  overflow: hidden;
  margin: 0 auto 0 auto;
}
.carousel .carousel-container.more-items {
  width: 100%;
  max-width: 375px;
}
@media screen and (max-width: 640px) {
  .carousel .carousel-container.more-items {
    max-width: 285px;
  }
}
.carousel .carousel-container .carousel-list {
  width: 100%;
  height: auto;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
.carousel .carousel-container .carousel-list .item {
  display: inline;
  float: left;
  position: relative;
  overflow: hidden;
  min-height: 140px;
}
.carousel .carousel-container .carousel-list .item .title, .carousel .carousel-container .carousel-list .item .sub-title {
  font-size: 36px;
  font-size: 2.25em;
  position: absolute;
  left: 18%;
  color: #fff;
}
@media screen and (max-width: 1023px) {
  .carousel .carousel-container .carousel-list .item .title, .carousel .carousel-container .carousel-list .item .sub-title {
    font-size: 16px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 640px) and (max-width: 1023px) {
  .carousel .carousel-container .carousel-list .item .title, .carousel .carousel-container .carousel-list .item .sub-title {
    font-size: calc(16px + (34 - 16) * ( (100vw - 640px) / ( 1023 - 640)));
  }
}
@media screen and (max-width: 1023px) and (min-width: 1023px) {
  .carousel .carousel-container .carousel-list .item .title, .carousel .carousel-container .carousel-list .item .sub-title {
    font-size: 34px;
  }
}

.carousel .carousel-container .carousel-list .item .title {
  font-family: Arial;
  top: 20%;
}
.carousel .carousel-container .carousel-list .item .sub-title {
  top: 40%;
  font-family: Arial;
}
.carousel .carousel-container .carousel-list .item .img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 639px) {
  .carousel .carousel-container .carousel-list .item .img {
    position: absolute;
    width: 170%;
    margin-left: -37.5%;
  }
}
