.carousel {
	@include set-size(100%, auto);
	overflow: hidden;
	position: relative;

	.logo{
		position: absolute;
		right: 8%;
		bottom: 10%;
		@include maxWidth(1023) { width: 60px; }
	}

	.bullets{
		@include set-size(auto, 16px);
		position: absolute;
		bottom: 20px;
		left: 50%;
		@include transform(translateX(-50%));

		.bullet{
			@include set-size(12px, 12px);
			@include border-radius(6px);
			background-color: #fff;
			display: inline-block;
			margin: 0 2px 0 2px;

			&.selected{
				background-color: #ed1650;
			}
		}

		@include maxWidth(767) {
			bottom: 5px;

			.bullet{
				@include set-size(6px, 6px);
				@include border-radius(3px);

			}
		}
	}

	.arrows{
		@include set-size(90%, auto);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: none;
		z-index: 5;

		@include maxWidth(1023) {
			display: none;
		}

		.bt-controls {
			display: inline-block;
			@include set-size(20px, 40px);
			background-image: url(../img/icon-left-right.png);
			background-repeat: no-repeat;
			cursor: pointer;

			&:hover{
				@include transition(all 0.3s);
				opacity: 0.8;
			}
		}
		.left {
			@extend .bt-controls;
			background-position: 0 0; 
			opacity: 0.2;
		}
		.right {
			@extend .bt-controls;
			background-position: -22px 0; 
			position: absolute;
			right: 0;
		}
	}
	.carousel-container{
		overflow: hidden;
		margin: 0 auto 0 auto;

		&.more-items{
			width: 100%;
		    max-width: 375px;
		    @include maxWidth(640){
	    	    max-width: 285px;
		    }
		}

		.carousel-list{
			@include set-size(100%, auto);
			@include transform(translate(0px, 0px));
			
			.item{
				@include float(left);
				position: relative;
				overflow: hidden;
				min-height: 140px;

				.title, .sub-title{
					@include font-size(36);
					@include maxWidth(1023) { @include font-scale(640, 1023, 16, 34); }
					position: absolute;
					left: 18%;
					color: #fff;
				}

				.title{
					font-family: Arial;
					top: 20%;
				}
				.sub-title{
					top: 40%;
					font-family: Arial;
				}
				.img{
					@include set-size(100%, auto);					
					

					@include maxWidth(639) {
						position: absolute;
						width: 170%;
						margin-left: -37.5%;
					}
				}
			}
		}
	}
}